<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qyjstore.qyjstoreapp">
    <application
            android:name="com.qyjstore.qyjstoreapp.base.BaseApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_logo"
            android:roundIcon="@mipmap/ic_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!--启动页-->
        <activity android:name="com.qyjstore.qyjstoreapp.activity.InitialActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--登录界面-->
        <activity android:name="com.qyjstore.qyjstoreapp.activity.LoginActivity"
                  android:screenOrientation="portrait">
        </activity>

        <!--主框架-->
        <activity android:name="com.qyjstore.qyjstoreapp.activity.MainActivity"
                  android:launchMode="singleTask" android:screenOrientation="portrait">
        </activity>

        <!--设置手势密码-->
        <activity android:name="com.qyjstore.qyjstoreapp.activity.GestureEditActivity"
                  android:screenOrientation="portrait">
        </activity>

        <!--验证手势密码-->
        <activity android:name="com.qyjstore.qyjstoreapp.activity.GestureVerifyActivity"
                  android:launchMode="singleTop" android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
